In [2]:
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
missing_values = df.isnull().sum()
print("\nMissing Values per Column:\n", missing_values)

Missing Values per Column:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
median_ages = df.groupby('Sex')['Age'].median()

df['Age'] = df.apply(
    lambda row: median_ages[row['Sex']] if pd.isnull(row['Age']) else row['Age'],
    axis=1
)

In [7]:
df['Title'] = df['Name'].str.extract(',\s*([^.]*)\.', expand=False)

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-621467336.py:1: SyntaxWarning: invalid escape sequence '\s'
  df['Title'] = df['Name'].str.extract(',\s*([^.]*)\.', expand=False)

In [12]:
df['Title'] = df['Title'].replace({'Mlle': 'Miss', 'Ms': 'Miss', 'Mme': 'Mrs'})

In [9]:
rare_list = ['Dr', 'Rev', 'Col', 'Major', 'Countess', 'Lady', 'Jonkheer',
             'Don', 'Dona', 'Capt', 'Sir']

df['Title'] = df['Title'].apply(lambda t: 'Rare' if t in rare_list else t)

In [10]:

title_median_age = df.groupby('Title')['Age'].median()

df['Age'] = df.apply(
    lambda row: title_median_age[row['Title']] if pd.isnull(row['Age']) else row['Age'],
    axis=1
)

In [11]:
print("\nSurvival Rate by Title:\n")
print(df.groupby('Title')['Survived'].mean())

# Final missing values count
print("\nFinal Missing Value Check:\n", df.isnull().sum())

Survival Rate by Title:

Title
Master          0.575000
Miss            0.702703
Mr              0.156673
Mrs             0.793651
Rare            0.318182
the Countess    1.000000
Name: Survived, dtype: float64

Final Missing Value Check:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
Title            0
dtype: int64